name: basic-steps

on:
  workflow_call:
  workflow_dispatch:

jobs:

  build-and-check:
    permissions:
      contents: write
      pull-requests: write
      checks: write

    runs-on: ubuntu-latest

    env:
      gradle_cmd: "./gradlew --parallel -Dorg.gradle.caching=true --console=plain --no-watch-fs -s "

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'

      - name: Build & Test
        run: ${gradle_cmd} check detektMain detektTest :koverXmlReport --rerun

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: build/reports/kover/report.xml
      
      - name: prepare qodana coverage
        run: mkdir -p .qodana/code-coverage && cp -v build/reports/kover/report.xml .qodana/code-coverage

      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2024.1
        with:
          pr-mode: false
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_1881314241 }}
          QODANA_ENDPOINT: 'https://qodana.cloud'

      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@master
        with:
          project-token: 8bc9b7a5d6404d05b9c93dd552c45def
          coverage-reports: build/reports/kover/report.xml
